<div class="mb-3"><%= link_to "Back", :back %></div>
  <div class="row justify-content-center">
      <%# Image %>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <% if @gear.photo.key? %>
          <%= cl_image_tag @gear.photo.key, class: "card-img-top rounded-4", crop: :fill%>
        <% else %>
          <div>no image</div>
        <% end %>
      </div>

      <%# Description part %>
      <div class="col-12 col-sm-12 col-md-6 col-lg-5">
        <h1><%= @gear.name %></h1>
        <div class="mb-3"><%= @gear.description %></div>
        <h3><%= @gear.hourly_rate %>€/hour</h3>
        <div class="mt-2">Rental Location:</div>
        <div><%= @gear.user.business_name ? @gear.user.business_name : "Business name not given" %></div>
        <div><%= @gear.user.city ? @gear.user.city : "City name not given" %></div>
      </div>

      <div class="w-100"></div> <!-- line break for bootstrap -->

      <%# Booking details %>
      <div class="col-12 col-sm-12 col-lg-8 py-3">
        <div>
          <h2>Booking details</h2>
          <div class="my-2">Choose a date</div>

          <div id="data-controller" data-controller="booking" data-booking-slots-value="<%= @next_7_days_with_slots.to_json %>" >
            <div class="row mx-0">
              <%# Previous week button %>
              <div class="col text-center p-0 align-self-center">
                <div>
                  <% if @date > Date.today %>
                    <%= link_to "<", gear_path(@gear, date: @date - 1.week), class: "btn btn-light" %>
                  <% else %>
                    <%= link_to "<", "#", class: "btn disabled" %>
                  <% end %>
                </div>
              </div>

              <%# Weekday buttons %>
              <% (@date..@date + 6.day).to_a.each do |day| %>
                <div class="col border text-center p-0 align-self-center">
                  <div class="btn w-100" data-booking-target="date" data-action="click->booking#switchDate" data-booking-date-value="<%= day %> ">
                    <%= day.strftime("%a") %><br>
                    <%= day.strftime("%m-%d") %>
                  </div>
                </div>
              <% end %>

              <%# Next week button %>
              <div class="col text-center p-0 align-self-center">
                <div>
                  <%= link_to ">", gear_path(@gear, date: @date + 1.week), class: "btn btn-light"  %>
                </div>
              </div>
            </div>

            <%= form_with(model: [@gear, @booking], url: gear_bookings_path(@gear), html: { class: 'needs-validation', novalidate: true }) do |form| %>

            <%# Available time slots as buttons %>
            <div class="d-flex flex-column">
              <div data-booking-target="timeSelect"></div>
            </div>
          </div>

            <h4>Personal details</h4>
            <div class="form-group mb-3">
              <%= form.label :first_name, class: "form-label" %>
              <%= form.text_field :first_name, class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= form.label :last_name, class: "form-label" %>
              <%= form.text_field :last_name, class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= form.label :email, class: "form-label" %>
              <%= form.email_field :email, class: "form-control" %>
            </div>

            <div class="form-group mt-4">
              <%= form.submit "Book now", class: "text-white btn btn-primary w-100" %>
            </div>
          <% end %>

      </div>
  </div>
